body {
    background-color: #797979;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
input {
    border-radius: 3px;
    border-style: solid;
    border-width: 1.5px;
    padding: 3px;
    text-align: center;
    background-color: #d6d6d6;
    color: #000000;
    font-weight: bold;
}
input::placeholder {
    color: #552828;
    text-align: center;
}
input:focus {
    border-color: #ff0000;
    border-width: 2.5px;
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 45%;
    height: 10px;
    background: #000000;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px;
    height: 20px;
    background: rgb(22, 207, 29);
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: rgb(22, 207, 29);
    cursor: pointer;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px; 
}
#form {
    position: relative;
    left: 10px;
    width: 47%;
}
#Zahlen {
    position: relative;
    left: 10px;
    width: 47%;
}
#position {
    position: absolute;
    right: 20px;
    width: 47%;
    top: 112px;
}
#Übersicht {
    position: relative;
    left: 0%;
}
#tipdiv {
    position: relative;
    left: 0%;
}
#endsumme {
    position: relative;
    left: 0%;
}
#Datum {
    position: relative;
    left: 0%;
}
#Angaben {
    position: relative;
    left: 0%;
}
#end {
    position: relative;
    left: 0%;
    margin: 20px 5px 5px 5px;
    padding: 3px;
    border: solid;
    border-color: #000000;
    border-radius: 5px;
    background-color: #ff0000;
    box-shadow: 3px 3px 3px #550000;
    font-size: 14pt;
}
